
<h1> <%= @pirate.name %> <%= @pirate.height %></h1>
<h1> </h1>
<h1> <%= @pirate.weight %></h1>


<h2>Display your first ship here</h2>

<%= @ship_1.name  %>
<%= @ship_1.booty %>
<%= @ship_1.type %>

<h2>Display your second ship here</h2>
<!-- [] -->
<%= @ship_2.name  %>
<%= @ship_2.booty %>
<%= @ship_2.type %>
<!-- [] -->
